.stats_titre {
    font-size: 50px; /* taille du texte */
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase; /* Met en majuscules */
    text-align: center;
    color: #00eaff;
    text-shadow: 0px 0px 5px #fafafa, 0px 0px 20px #000f20;
    letter-spacing: 2px; /* Espacement ecriture */
    margin-top: 30px;
  }