    <div class="background">

    <main class="classe">
      <div class="main_principal" #mainPrincipal>
        <div class="main_sidebar">
          <app-sidebar></app-sidebar>
        </div>

        <div class="main_secondaire">
          <header class="header">
            <div class="lesSous">
              <img src="os.png" alt="image" class="image_os" />
              : {{ world.money | number:'1.0-0' }} $
            </div>          
            <h1 class="worldname">Nom du monde{{ world.name }}</h1>
          </header>
          <div *ngIf="true">{{ logTemplate() }}</div>

              
          <div class="product">
            <app-product *ngFor="let prod of world.products" [prod]="prod" (worldChanged)="handleWorldChanged()" ></app-product>

          </div>
        </div>
      </div>
      <router-outlet />
    </main>
    </div>

