
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet" />
<div class="main_ange">
  <div class="entete">
    <img src="gauche.png" class="meteorite" />
    <div class="titre_ange">Les investisseurs</div>
    <img src="droite.png" class="meteorite" />
  </div>

  <div class="infos_anges">
    <div class="bonus_anges">Bonus d'ange : {{ world.angelbonus }}</div>
    <div class="nombre_ange">Anges actifs : {{ world.activeangels }}</div>
    <div class="nombre_nv_ange">Anges totaux : {{ world.totalangels }}</div>
  </div>

  <button (click)="claimInvestors()">
    <div class="text_claim">Réinitialiser & Claim</div>
  </button>
</div>
