<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>
<div class="main_ange">
  <div class="entete">
    <img src="gauche.png" class="meteorite" />
    <div class="titre_ange">Les météorites youhouuu</div>
    <img src="droite.png" class="meteorite" />
  </div>

  <div class="infos_anges">
    <div class="bonus_anges">BONUUS</div>

    <div class="nombre_ange">coucou ?</div>
    <div class="nombre_nv_ange">coucou ?</div>
  </div>

  <button><div class="text_claim">Claim météorites</div></button>
</div>
