<ng-container *ngIf="prod">
<div class="main_product">
  <img
    [src]="productImage"
    alt="{{ prod.name }}"
      class="image_produit"
      (click)="entrainerDino()"
    />


    <!-- <img [src]="product?.logo" alt="{{ product?.name }}" /> -->
    <!-- #00f1ff -->
    <div class="main_secondaire">
      <h3 class="nom_dino">{{ prod.name }}</h3>

      <button class="train" (click)="acheterDino()">
        <div>Acheter</div>
        <div>{{ prod.cout | number: '1.0-0' }} $</div>
      </button>
      <div class="revenu">
        + {{ prod.revenu | number: '1.0-0' }} $ / production
      </div>

      <app-progressbar
      *ngIf="prod.timeleft > 0"
      [run]="true"
      [auto]="true"
      frontcolor="#368484"
      [orientation]="Orientation.horizontal"
      [vitesse]="prod.vitesse"
      [initialValue]="0"
      (productionComplete)="onProductionComplete()"

      >
      </app-progressbar>
      <div class="infos_product">
        <div class="palier">
          <div>{{ prod.quantite }}</div>
          <div>/</div>
          <div>30</div>
        </div>
        <div class="temps">
          <app-timer *ngIf="prod.timeleft > 0" [duration]="prod.timeleft"></app-timer>
        </div>
    </div>
  </div>
</div>

</ng-container>

