<div class="main_page_managers">
  <div class="titre_managers">Les Managers</div>
  <div class="main_managers">
    <app-unmanager
    *ngFor="let manager of getFilteredManagers()" 
    [imageManager]="manager.logo"
    [nomManager]="manager.name"
      [bonusManager]="'Automatise : ' + world.products[manager.idcible - 1].name"
      [prixManager]="manager.seuil + ' $'"
      [texte]="'Engager'"
      [isDisabled]="manager.unlocked || world.money < manager.seuil"
      (onHire)="hireManager(manager)">
    </app-unmanager>
  </div>
</div>
