<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div class="main_page_managers">
  <div class="titre_managers">Les Managers</div>
  <div class="main_managers">
    <app-unmanager
      class="un_manager"
      [imageManager]="'/logo.png'"
      [nomManager]="'Loulou'"
      [bonusManager]="'le bonuus'"
      [prixManager]="'100000 euros'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/logoDino.png'"
      [nomManager]="'Dino'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/logoDino.png'"
      [nomManager]="'Dino'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/logoDino.png'"
      [nomManager]="'Dino'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
    >
    </app-unmanager>
  </div>
</div>
