<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div class="main_page_managers">
  <div class="titre_managers">Les Managers</div>
  <div class="main_managers">
    <app-unmanager
      class="un_manager"
      [imageManager]="'/m1.png'"
      [nomManager]="'Claire Dearing'"
      [bonusManager]="'le bonuus'"
      [prixManager]="'100000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m2.png'"
      [nomManager]="'Owen Gradyyy'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m3.png'"
      [nomManager]="'John Hammond'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m4.png'"
      [nomManager]="'Quelqu`un'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m5.png'"
      [nomManager]="'Ian Malcolm'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m6.png'"
      [nomManager]="'Roland Tembo'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m7.png'"
      [nomManager]="'Pr Alan Grant'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m8.png'"
      [nomManager]="'Pr Ellie Sattler'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_manager"
      [imageManager]="'/m9.png'"
      [nomManager]="'Le fou'"
      [bonusManager]="'Un super bonus !'"
      [prixManager]="'500000 euros'"
      [texte]="'Engager'"
    >
    </app-unmanager>
  </div>
</div>
