<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>
<ng-container *ngFor="let upgrade of getFilteredAngelUpgrades()">
  <app-unmanager
    class="un_ange"
    [imageManager]="upgrade.logo"
    [nomManager]="upgrade.name"
    [bonusManager]="'Bonus : ' + upgrade.typeratio + ' x' + upgrade.ratio"
    [prixManager]="upgrade.seuil + ' Anges'"
    [texte]="'Acheter'"
    [isDisabled]="upgrade.unlocked || world.activeangels < upgrade.seuil"
    (onHire)="acheterAngelUpgrade(upgrade)">
  </app-unmanager>
</ng-container>
