<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div class="main_page_dino">
  <div class="titre_dino">Les dinos</div>
  <div class="main_dino">
    <app-unmanager
      class="un_dino"
      [imageManager]="'/trex1.png'"
      [nomManager]="'Tyrannosaurus rex'"
      [bonusManager]="'production t-rex x 1000'"
      [prixManager]="'100000 euros'"
      [texte]="'Acheter'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_dino"
      [imageManager]="'/diplo1.png'"
      [nomManager]="'Diplodocus hallorum'"
      [bonusManager]="'production diplo x 3 !'"
      [prixManager]="'500000 euros'"
      [texte]="'Acheter'"
    >
    </app-unmanager>

    <app-unmanager
      class="un_dino"
      [imageManager]="'/Triceratops1.png'"
      [nomManager]="'Triceratops horridus'"
      [bonusManager]="'production tritri x 5'"
      [prixManager]="'500000 euros'"
      [texte]="'Acheter'"
    >
    </app-unmanager>
  </div>
</div>
