<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div class="main_page_dino">
  <div class="titre_dino">Les dinos</div>
  <div class="main_dino">
    <app-unmanager
      *ngFor="let upgrade of getFilteredUpgrades()"
      class="un_dino"
      [imageManager]="upgrade.logo"
      [nomManager]="upgrade.name"
      [bonusManager]="'Bonus : ' + upgrade.typeratio + ' x' + upgrade.ratio"
      [prixManager]="upgrade.seuil + ' $'"
      [texte]="'Acheter'"
      [isDisabled]="upgrade.unlocked || world.money < upgrade.seuil"
      (onHire)="acheterUpgrade(upgrade)">
    </app-unmanager>
  </div>
</div>
