  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <div class="titre_unlocks">unlocks</div>
  <div class="tout">
    <div class="unlocloc" *ngFor="let unlock of getFilteredUnlocks()">
      <div class="palier">Prochain pallier à atteindre : {{ unlock.seuil }}</div>
      <img class="une_image" [src]="unlock.logo" />
      <div class="le_bonus">{{ unlock.name }} - Bonus : {{ unlock.typeratio }} x {{ unlock.ratio }}</div>
      <button 
        [disabled]="unlock.unlocked || !checkCondition(unlock)" 
        (click)="applyUnlock(unlock)">
        Débloquer
      </button>
    </div>
  </div>
  