<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div class="titre_unlocks">unlocks</div>

<div class="tout">
<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1000</div>
    <img class="une_image" src="/trex1.png"/>
    <div class="le_bonus">mon Trex x 2 💗💗</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1</div>
    <img class="une_image" src="/mausasaurus1.png"/>
    <div class="le_bonus">Truc qui nage x 2</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1000</div>
    <img class="une_image" src="/trex1.png"/>
    <div class="le_bonus">mon Trex x 2 💗💗</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1</div>
    <img class="une_image" src="/mausasaurus1.png"/>
    <div class="le_bonus">Truc qui nage x 2</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1000</div>
    <img class="une_image" src="/trex1.png"/>
    <div class="le_bonus">mon Trex x 2 💗💗</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1</div>
    <img class="une_image" src="/mausasaurus1.png"/>
    <div class="le_bonus">Truc qui nage x 2</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1000</div>
    <img class="une_image" src="/trex1.png"/>
    <div class="le_bonus">mon Trex x 2 💗💗</div>
</div>

<div class="unlocloc">
    <div class="palier">Prochain pallier à atteindre : 1</div>
    <img class="une_image" src="/mausasaurus1.png"/>
    <div class="le_bonus">Truc qui nage x 2</div>
</div>

</div>